// DKFDS Utilities
// Import all utility classes

@forward 'spacing';
@forward 'display';
@forward 'flexbox';
@forward 'width';
@forward 'background';
@forward 'position';
@forward 'text-align';
@forward 'accessibility';
@forward 'aspect-ratio';
