// Text Alignment Utilities
@use '../core/breakpoints' as *;

@include responsive-variants using ($p) {
  .#{$p}text-left {
    text-align: left;
  }
  .#{$p}text-right {
    text-align: right;
  }
  .#{$p}text-center {
    text-align: center;
  }
  .#{$p}text-justify {
    text-align: justify;
  }
}
