// DKFDS Text Alignment Utilities
@use '../core/breakpoints' as *;

// Text alignment
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    .align-text#{$infix}-left {
      text-align: left !important;
    }
    .align-text#{$infix}-right {
      text-align: right !important;
    }
    .align-text#{$infix}-center {
      text-align: center !important;
    }
  }
}
