// DKFDS Width Utilities
@use '../core/breakpoints' as *;

// Width percentages
$widths: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%,
);

// Generate width utilities
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    @each $size, $width in $widths {
      .w-percent#{$infix}-#{$size} {
        width: $width !important;
      }
    }
  }
}
